<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="icon" href="data:," />
  <script src="/public/js/products/details.js" defer></script>
  <script>
    const productId = <%= productId %>;
  </script>
</head>
<body>
  <input id="name" type="text" value="">
  <input id="price" type="text" value="">
  <input id="usableDate" type="text" value="">

  <button onclick="goOrder()">주문하기</button>
  <button onclick="addCart()">장바구니</button>
</body>
</html>