<script src="/public/js/products/main.js" defer></script>

<h1>내일배움캠프에서 캐릭터를 구매하여 ZEP에서 함께 놀아봐요</h1>

<div class="card mb-3 pt-3" style="text-align: center; align-items: center;">
  <img src="/public/images/sample.png" class="card-img-top" style="width: 20vw; border-radius: 10vw; border: white solid 0px;">
  <div class="card-body">
    <h1 class="card-title">Weekly Character</h1>
  </div>
</div>

<div class="card-group mb-5" id="products">
</div>