
<script src="/public/js/market.js" defer></script>

<div>
  <div id="productsList" class="row row-cols-1 row-cols-md-2 g-4"></div>
  <h1>awda</h1>
  <!-- <div id="endList"></div>
  무한 스크롤 할때 쓸것 -->
</div>
