<script src="/public/js/admins/subOrders/list.js" defer></script>

<!-- 검색 시작 -->
<form class="row g-3">
  <div class="col-md-6">
    <label for="searchInput" class="visually-hidden">검색어</label>
    <input type="text" class="form-control" id="searchInput" placeholder="검색어">
  </div>
  <div class="col-md-4">
    <button id="searchBtn" class="float-start btn btn-outline-primary mb-3">검색</button>
  </div>
</form>
<!-- 검색 끝 -->

<!-- 목록 시작 -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">주문상세번호</th>
      <th scope="col">주문번호</th>
      <th scope="col">상태</th>
      <th scope="col">구매자번호</th>
      <th scope="col">구매자</th>
      <th scope="col">사용가능일</th>
      <th scope="col">가격</th>
      <th scope="col">개수</th>
      <th scope="col">주문일</th>
    </tr>
  </thead>
  <tbody id="subOrders"></tbody>
</table>
<!-- 목록 끝 -->

<%- include('../components/pagination') -%>