<div style="width: 80vw; margin: auto;">
  <div class="mb-3 row">
    <label for="category" class="col-sm-2 col-form-label">카테고리</label>
    <div class="col-sm-10">
      <!-- <input type="text" class="form-control-plaintext" id="category"> -->
      <select class="form-select">
        <option selected>캐릭터</option>
      </select>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">상품명</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">상품 가격</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">사용 일자</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="date">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">상품 사진</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name">
    </div>
  </div>
  <button type="button" class="btn btn-primary" style="float: right;">상품 등록</button>
</div>