<script src="/public/js/admins/products/list.js" defer></script>

<!-- 검색 시작 -->
<form class="row g-3">
  <div class="col-md-2">
    <select class="form-select" id="filter">
      <option value="name" selected>상품명</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="keyword" class="visually-hidden">검색어</label>
    <input type="text" class="form-control" id="keyword" placeholder="검색어">
  </div>
  <div class="col-md-4">
    <button id="searchBtn" class="float-start btn btn-outline-primary mb-3">검색</button>
  </div>
  <div class="col-md-2">
    <button id="createBtn" class="float-end btn btn-primary mb-3">상품 등록</button>
  </div>
</form>
<!-- 검색 끝 -->

<!-- 목록 시작 -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">상품명</th>
      <th scope="col">사용가능일</th>
      <th scope="col">가격</th>
      <th scope="col">개수</th>
      <th scope="col">등록일</th>
      <th scope="col">수정일</th>
    </tr>
  </thead>
  <tbody id="products"></tbody>
</table>
<!-- 목록 끝 -->

<%- include('../components/pagination') -%>