<!-- 버튼 모음 시작 -->
<button type="button" class="btn btn-primary" style="float: right;">로그아웃</button>
<!-- 버튼 모음 끝 -->

<!-- 메뉴 시작 -->
<ul class="nav nav-tabs card-header-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="true" href="#">상품관리</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">고객관리</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">주문관리</a>
  </li>
</ul>
<!-- 메뉴 끝 -->