<div class="align-self-center" style="width: 100vw;">
  <div class="card text-center" style="height: 100vh;">
    <div class="card-header">
    <%- include('header') %>
    </div>
    
    <div class="card-body">
    <%- include('../products/list') -%>
     <!-- include('../products/create')  -->
    </div>
  </div>
</div>