<link rel="stylesheet" href="/public/css/customers/main.css" />
<script src="/public/js/customers/login.js" defer></script>

<div class="align-self-center customer-form">
  <h3>로그인</h3>

  <!-- 입력 폼 -->
  <div>
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="email" placeholder="email" onKeyPress="if( event.keyCode==13 ){enter();}" />
      <label for="email">이메일</label>
    </div>
    <div class="form-floating mb-2">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="password"
        onKeyPress="if( event.keyCode==13 ){enter();}"
      />
      <label for="password">비밀번호</label>
    </div>
  </div>
  <!-- 입력 폼 끝 -->

  <div class="d-grid gap-2 mb-2">
    <button onclick="login()" class="btn btn-primary" type="button">로그인</button>
  </div>

  <div class="d-grid gap-2 mb-2">
    <button onclick="location.href='/customers/register'" class="btn btn-outline-dark" type="button">회원가입</button>
  </div>
</div>
