<!-- 조성훈님 출처코드 변경사항 admins -> customers / 페이지 -->
<script src="/public/js/customers/main.js" defer></script>

<div class="align-self-center" style="width: 100vw;">
  <div class="card text-center" style="height: 100vh;">
    <div class="card-header">
    <%- include('../../components/header') %>
    </div>
    
    <div class="card-body">
      <% if (locals.components === 'mypage') { %>
      <%- include('mypage') %>
      <% } %>
    </div>
  </div>
</div>