<script src="/public/js/customers/mypage.js" defer></script>
<div style="width: 80vw; margin: auto">
  <div class="mb-3 row">
    <label for="email" class="col-sm-2 col-form-label">이메일</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="nickname" class="col-sm-2 col-form-label">닉네임</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nickname" />
    </div>
  </div>
</div>
<div class="mb-3 row">
  <label for="password" class="col-sm-2 col-form-label">비밀번호</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" id="password" />
  </div>
</div>
  <div class="mb-3 row">
    <label for="coin" class="col-sm-2 col-form-label">보유코인</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="text" class="form-control" id="coin" />
        <span class="input-group-text">dev</span>
        <button onclick="addCoin()" type="button" class="btn btn-outline-danger ms-1" style="float: right">충전하기(10,000 dev)</button>
      </div>
    </div>
  </div>
  <button onclick="deleteProduct()" type="button" class="btn btn-outline-danger ms-1" style="float: right">회원탈퇴</button>
  <button onclick="updateProduct()" type="button" class="btn btn-success ms-1" style="float: right">정보수정</button>
</div>
