<!-- 조성훈님 출처코드 변경사항 admins -> customers / admin -> customer / account -> email / register() -> registerCustomer -->

<link rel="stylesheet" href="/public/css/customers/main.css" />
<script src="/public/js/customers/register.js" defer></script>

<div class="align-self-center customer-form">
  <h3>회원가입</h3>

  <!-- 입력 폼 -->
  <div>
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="email" placeholder="email" onKeyPress="if( event.keyCode==13 ){enter();}" />
      <label for="email">이메일</label>
    </div>
    <div class="form-floating mb-2">
      <div class="form-floating mb-2">
        <input type="text" class="form-control" id="nickname" placeholder="nickname" onKeyPress="if( event.keyCode==14 ){enter();}" />
        <label for="nickname">닉네임</label>
      </div>
      <div class="form-floating mb-2">
        <input
          onkeyup="checkPassword()"
          type="password"
          class="form-control"
          id="password"
          placeholder="password"
          onKeyPress="if( event.keyCode==13 ){enter();}"
        />
        <label for="password">비밀번호</label>
      </div>
      <div class="form-floating mb-2">
        <input
          onkeyup="checkPassword()"
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="confirmPassword"
          onKeyPress="if( event.keyCode==13 ){enter();}"
        />
        <label for="confirmPassword">비밀번호 확인</label>
      </div>
    </div>
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="phone" placeholder="phone" onKeyPress="if( event.keyCode==15 ){enter();}" />
      <label for="phone">연락처( - 포함하여 작성)</label>
    </div>
    <div class="form-floating mb-2">
      <!-- 입력 폼 끝 -->

      <div class="d-grid gap-2 mb-2">
        <button onclick="register()" class="btn btn-primary" type="button">회원가입</button>
      </div>

      <div class="d-grid gap-2 mb-2">
        <button onclick="location.href='/customers/login'" class="btn btn-outline-dark" type="button">로그인</button>
      </div>
    </div>
  </div>
</div>
