<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../public/css/chat.css" />
    <title>데브시티</title>
  </head>
  <body>
    <div class="join-container">
      <header class="join-header">
        <h1>실시간 채팅 문의</h1>
      </header>
      <main class="join-main">
        <form action="chat.html">
          <div class="form-control">
            <label for="username">채팅 닉네임</label>
            <input type="text" name="username" id="username" placeholder="채팅 닉네임을 입력해주세요" required />
          </div>
          <div class="form-control">
            <label for="room">채팅방명</label>
            <input type="text" name="username" id="username" placeholder="문의 내용의 키워드를 작성해주세요" required />
            <!-- <label for="room">커뮤니티</label>
            <select name="room" id="room">
              <option value="세탁비법 공유방">세탁비법 공유방</option>
              <option value="아무말 대찬치방">아무말 대찬치방</option> -->
            </select>
          </div>
          <button type="submit" class="btn">문의 채팅방 입장</button>
        </form>
      </main>
    </div>
  </body>
</html> -->