<!-- 조성훈님 출처코드 변경사항 admins -> customers / 로그아웃 버튼 외 추가 / admins -> customers / HOME, MARKET으로 변경-->
<script src="/public/js/components/header.js" defer></script>

<!-- 버튼 모음 시작 -->
<!-- (이보형) if로 회원 비회원별 버튼 구분 추가 필요 -->
<!-- 회원 : 장바구니 / 주문내역 / 마이페이지 / 로그아웃 -->
<a type="button" href="/최호인님수정필요" class="btn btn-outline-secondary" style="float: right">장바구니</a>
<a type="button" href="/최호인님수정필요" class="btn btn-outline-secondary" style="float: right">주문내역</a>
<a type="button" href="/customers/mypage" class="btn btn-outline-secondary" style="float: right">마이페이지</a>
<button onclick="logout()" type="button" class="btn btn-outline-secondary" style="float: right">로그아웃</button>
<!-- 비회원 : 로그인 / 회원가입 -->
<a type="button" href="/customers/login" class="btn btn-outline-secondary" style="float: right">로그인</a>
<a type="button" href="/customers/register" class="btn btn-outline-secondary" style="float: right">회원가입</a>

<a type="button" href="../chats/main.html" class="btn btn-outline-secondary" style="float: right">실시간 채팅</a>
<!-- 버튼 모음 끝 -->

<!-- 메뉴 시작 -->
<ul class="nav nav-tabs card-header-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/products">MARKET</a>
  </li>
</ul>
<!-- 메뉴 끝 -->