<script src="/public/js/components/header.js" defer></script>

<!-- 버튼 모음 시작 -->
<a type="button" href="/cart" class="btn btn-outline-secondary" style="float: right">장바구니</a>&nbsp;
<a type="button" href="/products/orders" class="btn btn-outline-secondary" style="float: right">주문내역</a>&nbsp;
<a type="button" href="/customers/mypage" class="btn btn-outline-secondary" style="float: right">마이페이지</a>&nbsp;
<button onclick="logout()" type="button" class="btn btn-outline-secondary" style="float: right">로그아웃</button>&nbsp;
<a type="button" href="http://localhost:4000" class="btn btn-outline-secondary" style="float: right">실시간 채팅</a>
<!-- 버튼 모음 끝 -->

<!-- 메뉴 시작 -->
<ul class="nav nav-tabs card-header-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/products">MARKET</a>
  </li>
</ul>
<!-- 메뉴 끝 -->